.card {
    width: 250px;
    height: 150px;
    margin: 20px;
    background-color: yellowgreen;
    padding: 20px;
    transition: 0.3s ease-in;  
    transform:translate(1.2);
}
.card:hover {
    transform:translate(1.2);
    background-color:rgb(168, 249, 6) ;

}